<main class="max-w-screen h-screen flex flex-col items-center justify-center">
  <div class="p-3 bg-gradient-to-br from-[#6acb63] from-60% to-[#0e7280] w-full h-full flex flex-row">
    <div class="w-1/12 flex flex-col h-full  justify-start items-center pt-10 ">
      <shared-side-bar class="w-full h-full"></shared-side-bar>

    </div>
    <div class="bg-gradient-to-br from-slate-50 to-slate-100 pt-2 pb-2 w-11/12 rounded-3xl h-full ">
      <div class="p-2 w-full h-full" id="routerOutletDiv">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</main>